.containerGeral {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f8f7f7;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

.tituloPagina {
    font-size: 2.5rem;
    color: #4a148c;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

.containerCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}